# Data Science Tools and Ecosystem

#### Some of the popular laguages that Data Scientists use are:

1. R
2. Python
3. SQL

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* List popular languages for Data Science
* Some of the commonly used libraries used by Data Scientists include:
* Data Science Tools

**Some of the popular languages that Data Scientists use are:**

1. Python
2. R
3. SQL

***Some of the commonly used libraries used by Data Scientists include:***

1. Numpy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|MySQL|
|Jupyter|
|Kubernestes|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [16]:
sum = (3*4)+5
print(sum)

17

In [26]:
#  This will convert 200 minutes to hours by diving by 60.
min = 200
hour = 200/60
print ("200 minutes is ", hour , "hours")

200 minutes is  3.3333333333333335 hours

## Author ##
Arpit Gupta